{% extends 'wallet/base.html'%}

{% block title%}
TRANSACTION LIST
{% endblock title %}

{% block content %}
<table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">Kimdan</th>
      <th scope="col">Kimga</th>
      <th scope="col">Miqdor</th>
      <th scope="col">Vaqti</th>
    </tr>
  </thead>
  <tbody>
  {% for wallet in wallet %}
    <tr>
      <td>{{ wallet.from_user.phone_number }}</td>
      <td>{{ wallet.to_user.phone_number }}</td>
      <td>{{ wallet.amount }} so`m</td>
      <td>{{ wallet.create_at }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock content %}